In [31]:
##HOW TO NAME A VARIABLE



var_name= "sumaiya"
print(var_name)

sumaiya

In [3]:
2_var="sumaiya"           ##variable name first symbol should be an alphabet or underscore sign
print(2_var)

SyntaxError: invalid decimal literal (2850168601.py, line 1)

In [4]:
_varname="sumaiya"
print(_varname)

sumaiya

In [5]:
var name ="sumaiya"
print(var name)      ##space is not allowed while naming the variable

SyntaxError: invalid syntax (2831499712.py, line 1)

In [6]:
var@name="sumaiya"
print(var@name)     ##no special symbols are allowed except underscore "_" sign

SyntaxError: cannot assign to operator (1481496447.py, line 1)

In [32]:
a="My name"
b="is"
c="Sumaiya"

print(a+b+c)     ##concatenation because it is string

My nameisSumaiya

In [33]:
print(a,b,c)      ##To have space between the words we print this way

My name is Sumaiya

In [34]:
a="Data"
b="Science"
c="is"
d="an"
e="interesting"      
f="field"

print(a b c d e f)   ##if we don't put comma we get an invalid syntax

SyntaxError: invalid syntax (1610459227.py, line 8)

In [35]:
##TO DEFINE THE DATA TYPE


a=float(3)
print(a)
type(a)

3.0

float

In [36]:
b= complex(3)
print(b)
type(b)

(3+0j)

complex

In [37]:
x=21%5

print(x)

1

In [39]:
%whos

Variable   Type       Data/Info
-------------------------------
a          float      3.0
b          complex    (3+0j)
c          str        Sumaiya
d          str        an
e          str        interesting
f          str        field
var_name   str        sumaiya
x          int        1

In [ ]:
##OPERATORS

In [40]:
a=56
b=34

print(a*b)     #Multiplication

1904

In [46]:
c=56
d=7

print(c/d) #Division

8.0

In [49]:
e=28
f=4

print(e//f)  ##Floor division- gives quotient of division

7

In [51]:
g=3
h=7

print(g==h)
print(type(g==h))            ##boolean expression

False
<class 'bool'>

In [65]:
i=True
j=False
k=True
print(type(i))

<class 'bool'>

In [66]:
%whos

Variable   Type    Data/Info
----------------------------
a          int     6
b          int     5
c          int     2
d          int     7
e          int     28
f          int     4
g          int     3
h          int     7
i          bool    True
j          bool    False
k          bool    True
var_name   str     sumaiya
x          int     1

In [61]:
print(i and j)       ##TRUE==1 and False==0. and is multiplication,hence output 1*0=0=false

False

In [62]:
print(j and k)

False

In [67]:
print(i and k)

True

In [68]:
l=j or k
print(l)      ##or is used as addition. hence,output is false(0)+True(1)=1=True

True

In [69]:
not(l)      ##not means opposite,hence output is false

False

In [70]:
not((j or k) and (k and i))

False

In [71]:
((not(j)) or (k and j))

True

In [72]:
a=9
b=7

print(a==b)        #as a is not equal to b,hence output is false

False

In [73]:
a=9
b=9

print(a==b)    #since its equal,output is true

True

In [74]:
a=89
b=99

print(a!=b)    ##!= means not equals to

True

In [75]:
a=99
b=99

print(a!=b)

False

In [76]:
a=23
b=45

print(a>b)

False

In [77]:
print(b>a)

True

In [78]:
print(a<b)

True

In [79]:
a=7
b=4
c=7

print(a>=c)

True

In [80]:
print(a<=b)

False

In [83]:
z=(a>=c)
print(z)
print(type(z))  #output of expression is boolean

True
<class 'bool'>

In [84]:
a=4
b=8
c=9
d=8

print((b>a) or(b==d))

True

In [87]:
print((c!=d) and (b != d))

False

In [88]:
(True and False) or not(True)

False

In [90]:
##STRING OPERATIONS

a="My name is Sumaiya"

print(a)
print(type(a))   ##any thing in double,triple,single quote is a string

My name is Sumaiya
<class 'str'>

In [93]:
multi_line= """My name is Sumaiya Irshad. 
I am a student of Birchwood University.
I am doing Masters in Data Science."""



print(multi_line)                 ##To write multiple lines we use triple quote.

My name is Sumaiya Irshad.
I am a student of Birchwood University.
I am doing Masters in Data Science.

In [94]:
multi_line= "My name is Sumaiya Irshad. 
I am a student of Birchwood University.
I am doing Masters in Data Science."



print(multi_line)     ##If we use single or double quote to write multiple lines we will get an error!!

SyntaxError: EOL while scanning string literal (3900233732.py, line 1)

In [95]:
print(len(multi_line))   ##len gives the length of string

103

In [97]:
print("ert" in multi_line)

False

In [98]:
a="My name is Sumaiya"

print(a[:7])     #slicing in string by using index numbers
                #since before colon no number is written so it takes 0 index number by default

My name

In [99]:
print(a[3:7])    #if it starts from left,index number starts from 0

name

In [101]:
print(a[11:18])

Sumaiya

In [108]:
print(a[:-8])

My name is

In [109]:
print(a[-8:])      #if it starts from right,index number starts from -1

 Sumaiya