In [ ]:
##BASICS OF PYTHON

In [22]:
a=89
print(a) ##to print any number

89

In [23]:
b="My name is Sumaiya"
print(b)                 ##To print a string

My name is Sumaiya

In [3]:
56+10      ##To add we can simply write the numbers and run the code

66

In [4]:
45-34

11

In [46]:
c=int(input("Enter a number:"))
d=int(input("Enter another number:"))

sum=c+d
print(sum)              #to add two number by giving the input by user

Enter a number:23
Enter another number:32
55

In [48]:
e=input("Enter a number:")
f=input("Enter another number:")    ##If we don't define the data type,it considers it as string

sum=e+f
print(sum)     ##hence we get the output concatenation

Enter a number:23
Enter another number:32
2332

In [49]:
##To subtract two numbers

g=int(input("Enter a number:"))
h=int(input("Enter second number:"))

difference=g-h                              
print(difference)

Enter a number:34
Enter second number:12
22

In [50]:
##To multiply two numbers

i=int(input("Enter a number:"))
j=int(input("Enter second number:"))
product=i*j                             
print(product)

Enter a number:2
Enter second number:5
10

In [51]:
##To find the power 

k=int(input("Enter a number:"))
l=int(input("Enter second number:"))
power=k**l                             
print(power)

Enter a number:2
Enter second number:3
8

In [11]:
##Or we can simply write

2**8

256

In [12]:
##TO do arithmetic operations,we can simply write the expression


(2*3)+10

16

In [52]:
##OR we can give the input by user

m=int(input("Enter a number:"))
n=int(input("Enter second number:"))

o=(m+n)**2

print(o)

Enter a number:3
Enter second number:5
64

In [53]:
##TO find the data type

p=5
print(type(p))

<class 'int'>

In [54]:
q=7.8
type(q)

float

In [55]:
r="Data Science"
type(r)

str

In [64]:
sum=a+b
print(sum) 
print(type(sum))

10
<class 'int'>

In [70]:
%whos   ##gives info about the name,type of all the variables created by you

Variable     Type       Data/Info
---------------------------------
a            int        5
b            int        5
c            int        23
d            int        32
difference   int        22
e            str        23
f            str        32
g            int        34
h            int        12
i            int        2
j            int        5
k            int        2
l            int        3
m            int        3
n            int        5
o            int        64
p            int        5
power        int        8
product      int        10
q            float      7.8
r            str        Data Science
result       int        49
s            complex    (3+5j)
sum          int        10
t            int        2
u            float      3.4
v            str        python
w            int        34
x            str        My name is Sumaiya

In [60]:
s=3+5j
print(s)
print(type(s))

(3+5j)
<class 'complex'>

In [69]:
t,u,v,w=2,3.4,"python",34
print(t,u,v,w)

2 3.4 python 34